In [1]:
import numpy as np
import pandas as pd
from sklearn import svm
import matplotlib.pyplot as plt

In [2]:
Data = pd.read_csv('DataSet.csv', encoding='latin-1')
Data.head()

,x,y,z,d_x,d_y,d_z,fi,thetta,psi,d_fi,d_thetta,d_psi,Outcome
0,-0.000044,-0.000178,-8.530000e-07,0.000044,0.000179,0.000006,-0.000018,0.000004,-0.000034,0.000018,-0.000004,0.000036,0
1,-0.110163,-0.096615,-1.051294e-01,-0.064434,-0.167006,-0.087618,-0.098391,-0.106327,-0.107474,0.851331,0.363000,-0.067917,1
2,-0.095329,-0.138420,-1.092485e-01,-0.008426,-0.113839,-0.054063,-0.044755,-0.066786,-0.104042,0.256113,0.125095,-0.032683,1
3,-0.111484,-0.102172,-1.075137e-01,-0.034207,-0.193541,-0.075497,-0.074116,-0.095515,-0.109110,0.786031,0.358000,-0.048139,1
4,-0.001287,-0.076536,-2.901535e-02,0.176885,0.006595,0.141945,0.105398,0.069049,0.007679,0.288711,0.237738,0.121593,1

In [3]:
data_features = Data[['x','d_x','fi','d_fi','Outcome']]
#train_Data = train_Data_pre[['x','y','z','d_x','d_y','d_z','fi','thetta','psi','d_fi','d_thetta','d_psi']]
data_features.head()

          x       d_x        fi      d_fi  Outcome
0 -0.000044  0.000044 -0.000018  0.000018        0
1 -0.110163 -0.064434 -0.098391  0.851331        1
2 -0.095329 -0.008426 -0.044755  0.256113        1
3 -0.111484 -0.034207 -0.074116  0.786031        1
4 -0.001287  0.176885  0.105398  0.288711        1

In [4]:
"""
# Метод главных компонент PCA - уменьшаем размерность данных
data_numpy = Data.to_numpy() # Конвертация в numpy массив
data_target = data_numpy[:,12]
data_features = data_numpy[:,:12]

from sklearn.decomposition import PCA

pca = PCA(n_components = 11, svd_solver='full') #Создание объекта класса PCA. В качестве параметров выступает количество ГК и метод оптимизации
#data_features_transformed = pca.fit(data_features).transform(data_features) # С учетом 11 компонент
data_features_transformed = pca.fit(data_features)

# Найдем долю объясненной дисперсии в зависимости от количества используемых ГК.
explained_variance = np.round(np.cumsum(pca.explained_variance_ratio_), 3)

# Построим график зависимости доли объясненной дисперсии от количества используемых ГК
plt.plot(np.arange(11), explained_variance, ls = '-')
"""

"\n# Метод главных компонент PCA - уменьшаем размерность данных\ndata_numpy = Data.to_numpy() # Конвертация в numpy массив\ndata_target = data_numpy[:,12]\ndata_features = data_numpy[:,:12]\n\nfrom sklearn.decomposition import PCA\n\npca = PCA(n_components = 11, svd_solver='full') #Создание объекта класса PCA. В качестве параметров выступает количество ГК и метод оптимизации\n#data_features_transformed = pca.fit(data_features).transform(data_features) # С учетом 11 компонент\ndata_features_transformed = pca.fit(data_features)\n\n# Найдем долю объясненной дисперсии в зависимости от количества используемых ГК.\nexplained_variance = np.round(np.cumsum(pca.explained_variance_ratio_), 3)\n\n# Построим график зависимости доли объясненной дисперсии от количества используемых ГК\nplt.plot(np.arange(11), explained_variance, ls = '-')\n"

In [15]:
"""
# Преобразованный массив признаков по методу PCA
pca = PCA(n_components = 4, svd_solver='full') 
data_features_transformed = pca.fit(data_features).transform(data_features) # С учетом 3 компонент
data_features = pd.DataFrame(data_features_transformed) # из numpy --> pandas
data_target = pd.DataFrame(data_target) # из numpy --> pandas
data_features['Outcome'] = data_target 
data_features
"""

"\n# Преобразованный массив признаков по методу PCA\npca = PCA(n_components = 4, svd_solver='full') \ndata_features_transformed = pca.fit(data_features).transform(data_features) # С учетом 3 компонент\ndata_features = pd.DataFrame(data_features_transformed) # из numpy --> pandas\ndata_target = pd.DataFrame(data_target) # из numpy --> pandas\ndata_features['Outcome'] = data_target \ndata_features\n"

In [16]:
# Разделеные данных на тренировочные и тестовые. Первые 70% строк — тренировочные, остальные — тестовые.
train = data_features.head(int(len(data_features)*0.7))
train

             x       d_x        fi      d_fi  Outcome
0    -0.000044  0.000044 -0.000018  0.000018        0
1    -0.110163 -0.064434 -0.098391  0.851331        1
2    -0.095329 -0.008426 -0.044755  0.256113        1
3    -0.111484 -0.034207 -0.074116  0.786031        1
4    -0.001287  0.176885  0.105398  0.288711        1
...        ...       ...       ...       ...      ...
5248 -0.243946 -1.735168 -0.356870  0.116445        1
5249  0.039638 -0.184217 -0.134115  0.149713        1
5250 -0.091733 -0.228000 -0.184931 -0.517000        1
5251  0.039897  0.080671  0.062184 -0.252554        1
5252 -0.157106 -0.055983 -0.095369  1.201118        1

[5253 rows x 5 columns]

In [17]:
test = data_features.tail(int(len(data_features)*0.3))
test

             x       d_x        fi      d_fi  Outcome
5254  0.294641  1.687136  0.343610 -0.565466        1
5255 -0.003279  0.003278 -0.001382  0.001418        0
5256 -0.074214  0.306227 -0.104220  0.990418        1
5257 -0.053197  0.385860 -0.037922  0.885627        1
5258 -0.074192  0.118739  0.054337  0.162029        1
...        ...       ...       ...       ...      ...
7500  0.260410  1.720533  0.353578 -0.297591        1
7501 -0.003961  0.003955 -0.001677  0.001712        0
7502 -0.003028  0.003029 -0.001273  0.001308        0
7503 -0.016259  0.016921 -0.006211  0.005633        0
7504 -0.111104  0.016300 -0.032091  0.631000        1

[2251 rows x 5 columns]

In [18]:
train_labels = train['Outcome']
test_labels = test['Outcome']

del train['Outcome']
del test['Outcome']
test

             x       d_x        fi      d_fi
5254  0.294641  1.687136  0.343610 -0.565466
5255 -0.003279  0.003278 -0.001382  0.001418
5256 -0.074214  0.306227 -0.104220  0.990418
5257 -0.053197  0.385860 -0.037922  0.885627
5258 -0.074192  0.118739  0.054337  0.162029
...        ...       ...       ...       ...
7500  0.260410  1.720533  0.353578 -0.297591
7501 -0.003961  0.003955 -0.001677  0.001712
7502 -0.003028  0.003029 -0.001273  0.001308
7503 -0.016259  0.016921 -0.006211  0.005633
7504 -0.111104  0.016300 -0.032091  0.631000

[2251 rows x 4 columns]

In [19]:
# Нормализация данных
from sklearn import preprocessing
normalization = preprocessing.StandardScaler()
normalization.fit(train)
train = normalization.transform(train)
train = pd.DataFrame(data = train)  # Перевод из numpy ---> pandas
normalization.fit(test)
test = normalization.transform(test)
test = pd.DataFrame(data = test)  # Перевод из numpy ---> pandas

In [20]:
clf = svm.SVC(gamma='auto', kernel='rbf')
clf.fit(train, train_labels)

SVC(gamma='auto')

In [21]:
# Доля верно классифицированных данных на обучающей выборке
from sklearn.metrics import classification_report
predictions_train = clf.predict(train)    
print(classification_report(train_labels, predictions_train))

              precision    recall  f1-score   support

           0       0.81      0.91      0.85      1046
           1       0.98      0.95      0.96      4207

    accuracy                           0.94      5253
   macro avg       0.89      0.93      0.91      5253
weighted avg       0.94      0.94      0.94      5253

In [29]:
from sklearn.metrics import f1_score
f1_score(train_labels, predictions_train)

0.9609073359073359

In [30]:
# Доля верно классифицированных данных на тестовой выборке
predictions_test = clf.predict(test)    
print(classification_report(test_labels, predictions_test))

              precision    recall  f1-score   support

           0       0.80      0.87      0.84       455
           1       0.97      0.94      0.96      1796

    accuracy                           0.93      2251
   macro avg       0.88      0.91      0.90      2251
weighted avg       0.93      0.93      0.93      2251

In [31]:
from sklearn.metrics import f1_score
predictions_test = clf.predict(test)
f1_score(test_labels, predictions_test)

0.956056338028169

In [27]:
# prediction for i - item
i = 0
test.iloc[i]

0    0.247657
1   -0.013797
2   -0.015852
3   -0.004053
Name: 1, dtype: float64

In [28]:
clf.predict([test.iloc[i]])

array([0], dtype=int64)